@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500;
700&display=swap";
/* colors */
body {
  background: #fff3f8;
}
* {
  font-family: 'Montserrat', sans-serif;
}
div {
  margin-bottom: 1rem;
}
.yellow {
  background: #ffd465;
}
.red {
  background: #f95a2c;
}
colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.rectangle-blue {
  width: 50px;
  height: 50px;
  background: #1947e6;
}
.rectangle-green {
  width: 50px;
  height: 50px;
  background: #00c6ae;
}
.rectangle-yellow {
  width: 50px;
  height: 50px;
  background: #ffd465;
}
.rectangle-red {
  width: 50px;
  height: 50px;
  background: #f95a2c;
}
.rectangle-dark {
  width: 50px;
  height: 50px;
  background: #18191f;
}
#cards-big-article {
  width: 327px;
  height: auto;
  display: flex;
  background: #ffd465;
  padding: 1.5rem;
  padding-bottom: 0rem;
  border-radius: 1rem;
  border: 2px solid black;
  flex-direction: column;
  box-shadow: 0px 4px 0px #18191f;
}
.author-img {
  width: 50px;
  height: 50px;
  align-self: centre;
  border-radius: 100px;
  border: 2px solid black;
}
.author-name {
  align-self: centre;
}
.card-post-title {
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.card-top-author {
  display: flex;
  width: 75%;
  flex-diection: row;
  align-items: centre;
  justify-content: centre;
  justify-content: space-between;
}
.response-on-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.big-card-artcile-img {
  box-shadow: 0px 4px 0px #18191f;
  width: 327px;
  border: 2px solid black;
  padding: 1.5rem;
  padding-bottom: 0rem;
  border-radius: 1rem;
}
.post-img {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
}
.post-img img {
  width: 100%;
  border-radius: 1rem;
}
.main-btn {
  border: 2px solid #18191f;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 12px;
  font-weight: bold;
  padding: 16px 16px;
  margin-bottom: 1rem;
}
.white {
  background: white !important;
}
.dark {
  background: #18191f;
  color: white;
}
.blue {
  background: #1947e6;
  color: white;
}
.green {
  background: #00c6ae;
}
.card-todo {
  width: 327px;
  padding: 24px;
  height: 208px;
  color: white;
  background: #f95a2c;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 16px;
}
.todo-text {
  width: 100%;
}
.card-setting {
  background: #fff;
  width: 327px;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 1rem !important;
}
.settingchild {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.settingchild h2 {
  padding-left: 2rem;
  align-self: center;
}
.settingchild i {
  align-self: center;
  margin-left: 5rem;
}
#tab-icons-yellow {
  width: 50px;
  height: 50px;
  background: #ffd465;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #18191f;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background: #ffd465;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #18191f;
  box-sizing: border-box;
}
#tab-icons-red {
  width: 50px;
  height: 50px;
  background: #f95a2c;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #18191f;
  box-sizing: border-box;
}
#tab-icons-green {
  background: #61e4c5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid #18191f;
  box-sizing: border-box;
}
.pricing-card {
  background: #1947e6;
  width: 260px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: centre;
  align-items: centre;
  text-align: centre;
  height: auto;
  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
  color: white;
  padding: 1rem;
}
.login-options-card {
  width: 327px;
  padding: 24px;
  background: #fff;
  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
}
.login-options-card h1 {
  text-align: centre;
}
.login-form {
  width: 327px;
  background: white;
  padding: 1rem;
  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.input-group {
  background: #fff;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid #18191f;
  box-sizing: border-box;
  border-radius: 16px;
}
input {
  border: none;
  padding-left: 1rem;
}
.primary-dark i {
  margin-left: 1rem;
}
.primary-yellow {
  background: #ffbd12;
  width: 100%;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px #18191f;
  border-radius: 12px;
  font-weight: bold;
  padding: 16px 16px;
}
.primary-yellow i {
  margin-left: 1rem;
}
.tabbar {
  background: #fff;
  box-shadow: inset 0px 1px 0px #18191f;
  display: flex;
  flex-direction: row;
  padding: 16px 16px 0px 16px;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  justify-content: space-between;
}
.tabbar-child {
  margin: 0 auto;
  text-align: centre;
}
.tabbar-child span {
  align-self: centre;
  font-weight: bold;
}
.tab-icon-sq {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eeeff4;
  border: 2px solid #474a57;
  box-sizing: border-box;
  border-radius: 8px;
}
.tab-icon-circ {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eeeff4;
  align-self: centre;
  border: 2px solid #474a57;
  box-sizing: border-box;
}
.buttons-group {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}
button {
  margin-bottom: 1rem;
}
.main-wrapper {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.atm-card {
  width: 425px;
  height: 260px;
  padding: 1rem;
  color: white;
  border: 2px solid #18191f;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #18191f;
  border-radius: 24px;
}
.atm-details {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.atm-details:nth-of-type(2) {
  margin-top: 1rem;
}
.atm-number {
  font-size: 1.4rem;
  padding-top: 12px;
  font-weight: bold;
  margin-top: 0rem;
}
.rect {
  background: #fff;
  border-radius: 6px;
  width: 66px;
  height: 45px;
}
.card-wala h3 {
  font-weight: light;
  font-size: 0.7rem !important;
  margin-bottom: 0rem;
}
.card-wala h1 {
  font-weight: light;
  font-size: 1.3rem !important;
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.logo-atm {
  width: 90px;
  height: 30px;
  margin-top: 1.5rem;
}
.logo-atm img {
  width: 100%;
}
.form-groups {
  border: 2px solid black;
  padding: 1rem;
  margin: 0 auto;
  text-align: centre;
  border-radius: 1rem;
}
